.menu {
    text-decoration: none !important;
    
}

#body {
    background-color: #eeeeee !important;
}

.menu {
    background-color: #708090 !important;
    font-family: 'Montserrat', sans-serif !important;
}

.menu a:hover {
    color: #33bdea !important;
}

li a {
    color: white !important;
}

a {
    text-decoration: none !important;
    color: white !important;
    font-weight: bold;
}